// bower:scss
// endbower

@import 'expander';


//Mixins
@mixin Font-Poiret ($color: #BBB)
{
    color: $color;
    font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #2a2a2a;
  padding: 0;

  /* Used to prevent scrolling when overlay is active */
  &.overflow-hidden {
    overflow: hidden;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Site Styling */
.navbar {
  background-color: #2a2a2a;
  border: none;
  margin: 0px;

  .navbar-brand {
    padding-right: 10px;
    border-left: solid #555 1px;
    border-right: solid #555 1px;

    font-size: 25px;
    @include Font-Poiret()
  }

  .navbar-nav > li > a {
    font-size: 20px;
    @include Font-Poiret()
  }

  .navbar-nav > li.active > a {
      background-color: #2a2a2a;
      color: #BBB;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }

  nav
  {
    text-align: center;
    margin-bottom: 10px;

    &#bottomPhotoCategories
    {
      margin-top: 20px;
    }

    a 
    {
      cursor: pointer;
      border: none;
      background: none;
      padding: 10px;

      &.selected
      {
        color:#751;
        pointer-events:none;
      }

      font: 20px normal;
      @include Font-Poiret()
    }
  }

  masonry {
    display:block;
    padding: 0px;
    border: solid transparent 2px;
    box-sizing: border-box;

    .masonry-brick {
      margin: 0px;
      padding: 0px;
      border: solid transparent 4px;
      box-sizing: border-box;
    }

    img {
      width:100%;
    }
  }
}
